@font-face {
    font-family: futuristic;
    src: url(./nasalization-rg.otf);
}

body {
    display: flex;
    min-height: 100dvh;
    width: 100vw;
}
/** This styles the left side of the page*/
.sideBar {
    background-image: url(./City.jpg);
    min-width: 35%;
    position: relative;
    flex-grow: 1;
}

.logoBar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 200px;
    padding: 10px 0px;
    font-family: 'futuristic', sans-serif;
    color: #3499b2;
}

.logoBar > h1 {
    font-size: 5rem;
    margin: 0;
}

img {
    max-width: 100px;
    max-height: 150px;
}

/** This styles the second half of the page */
.secondHalf {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;

}

.description, .inputs, .createAcc {
    padding-left: 15px;
}

/** Styles the first third of the second half */
.description { 
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-color: #f9fafb;
    font-size: 1.2rem;
    padding-right: 100px;
    padding-bottom: 20px;
    flex-grow: 1;
}

.description p {

    font-weight: bold;
    padding-right: 50px;
}

/** Styles the second third of the second half */

.inputs {
    padding-bottom: 15px;
}

.inputs form {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    
    
}

form > div {
    display: flex;
    flex-direction: column;
    min-width: 280px;
}

.inputs p {
    font-weight: bold;
}

label {
    font-size: .8rem;
    color: #6c737c;
}

/** Styles the final third of the second half */

.createAcc {
    background-color: #f9fafb;
    flex-grow: 1;
    padding-top: 20px;
    box-shadow: inset 0px 1px 10px grey;

    
}

.createAcc button {
    font-size: 1.2rem;
    padding: 5px 30px;
    background-color: #3499b2;
    color: aliceblue;
    border-radius: 10px;
    border: solid white 2px;
}

/** Styles the validations */

input:focus {
    border: 2px solid blue;
    box-shadow: 0px 3px 10px grey;
}

input:valid {
    border-radius: 5px;
    border: 1px solid green;
}

input:invalid {
    border-radius: 5px;
    border: 1px solid red;
}


input[type='password']:invalid + span::before {
    content: '*Passwords do not match';
    color: red;
}


input:placeholder-shown {
    border: 1px solid #ccc;
}







