@font-face {
    font-family: futuristic;
    src: url(./nasalization-rg.otf);
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.firstHalf {
    background-image: url(./City.jpg);
    min-width: 35%;
    position: relative;
}

.logoBar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 200px;
    padding: 10px 0px;
    font-family: 'futuristic', sans-serif;
    color: #3499b2;
}

.logoBar > h1 {
    font-size: 5rem;
    margin: 0;
}

img {
    max-width: 100px;
    max-height: 150px;
}

.secondHalf {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;

}

.description, .inputs, .createAcc {
    padding-left: 15px;
}


.description {
    background-color: rgb(237, 235, 235);
    font-size: 1.2rem;
    padding-right: 100px;
    padding-bottom: 20px;
    flex-grow: 1;
}

.description p {
    position: relative;
    top: 70px;
    min-width: 500px;
    font-weight: bold;
    padding-right: 50px;
}

.inputs {
    padding-bottom: 15px;
}

.inputs form {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    
    
}

form > div {
    display: flex;
    flex-direction: column;
    min-width: 280px;
}

.inputs p {
    font-weight: bold;
}

.createAcc {
    background-color: rgba(249,250,251,255);
    flex-grow: 1;
    padding-top: 20px;
    box-shadow: inset 0px 1px 10px grey;

    
}

.createAcc button {
    font-size: 1.2rem;
    padding: 5px 30px;
    background-color: #3499b2;
    color: aliceblue;
    border-radius: 10px;
}

input:focus {
    border: 2px solid blue;
    box-shadow: 0px 3px 10px grey;
}

#passwd:invalid, #passwdC:invalid {
    border-radius: 5px;
    border: 2px solid red;
}

